<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>System MVC app</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<p>Now is <span th:text="${serverTime}"/></p>

<table>
    <thead>
    <tr>
        <th> id</th>
        <th> Brand</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${carBrands.empty}">
        <td colspan="2"> No Cars Available</td>
    </tr>
    <tr th:each="thisBrand : ${carBrands}">
        <td><span th:text="${thisBrand.id}"> id </span></td>
        <td><span th:text="${thisBrand.name}"> mark </span></td>
    </tr>
    </tbody>
</table>
<select>
    <option th:each="thisBrand: ${carBrands}">
        <span th:text="${thisBrand.name}"> name </span></option>
</select>

<form action="#" th:action="@{/car/addBrand}" <!--th:object="${brand}-->"
      method="post">
    <select>
        <option th:each="thisAchievement: ${achievements}" th:value="${thisAchievement.id}">
            <span th:text="${thisAchievement.name}"> name </span></option>
    </select>
    <div class="form-group">
        <label for="id">id:</label>
        <input type="text"  class="form-control"  th:field="*{brand.id}" id="id" placeholder="enter id" />
    </div>
    <div class="form-group">
        <label for="name">mark:</label>
        <input type="text"  class="form-control"  th:field="*{brand.name}" id="name" placeholder="enter mark"/>
    </div>
    <button type="submit" th:value="Save" class="btn btn-primary">Submit</button>
</form>

<script src="/webjars/jquery/3.4.1/jquery.js"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>